:root {
    --white: hsl(0, 0%, 100%);
    --light-pink: hsl(275, 100%, 97%);
    --grayish-purple: hsl(292, 16%, 49%);
    --dark-purple: hsl(292, 42%, 14%);
    --pink: hsl(281, 83%, 54%);

    --text-lg: 2rem;
    --text-base: 1rem;
    --text-sm: 0.875rem;

    --spacing: 24px;
    --spacing-lg: 40px;
}

@font-face {
    font-family: "Work";
    src: url(../assets/fonts/WorkSans-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: "Work";
    color: var(--dark-purple);
    background: var(--light-pink) url(../assets/images/background-pattern-mobile.svg) no-repeat;
}

article {
    margin: var(--spacing);
    max-width: 600px;
    background: var(--white);
    padding: var(--spacing) var(--spacing) 0;
    border-radius: 8px;
    box-shadow: 0px 32px 56px 0px rgba(80, 0, 118, 0.1);
}

h1 {
    font-size: var(--text-lg);
    display: flex;
    align-items: center;
    gap: 12px;
}

h1::before {
    content: url(../assets/images/icon-star.svg);
    transform: scale(0.6);
    transform-origin: 0;
}

.accordion {
    outline: none;
    border: none;
    background: transparent;
    display: flex;
    gap: 24px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding-block: 20px;
    font-family: "Work";
    font-size: var(--text-base);
    text-align: left;
    font-weight: 600;
    transition: ease 0.5s;
}

.accordion::after {
    content: url(../assets/images/icon-plus.svg);
}

.accordion.active::after {
    content: url(../assets/images/icon-minus.svg);
}

section:not(:first-of-type) .accordion {
    border-top: 1px solid var(--light-pink);
}

.content {
    font-size: var(--text-sm);
    line-height: 150%;
    color: var(--grayish-purple);
    max-height: 0;
    transition: max-height 0.5s ease;
    overflow: hidden;
}

.content.active {
    max-height: 200px;
    margin-bottom: var(--spacing);
}

@media (width >= 375px) {
    :root {
        --text-lg: 3.5rem;
        --text-base: 1.125rem;
        --text-sm: 1rem;
    }

    body {
        background: var(--light-pink) url(../assets/images/background-pattern-desktop.svg) no-repeat;
    }

    article {
        padding: var(--spacing-lg) var(--spacing-lg) 16px;
    }

    h1 {
        gap: var(--spacing);
        margin-bottom: 8px;
    }
    
    h1::before {
        transform: unset;
    }
}

@media (hover: hover) {
    .accordion:hover {
        color: var(--pink)
    }
}

@media (width >= 1440px) {
    body {
        background: var(--light-pink) url(../assets/images/background-pattern-desktop.svg) top / contain no-repeat;
    }
}